{% extends "app_seguro/base.html" %}

{% load static %}

{% block title %} Capresca - Reseteo de Clave {% endblock %} 
    
{% block subtitulo %}  {% endblock%} 

{% block content %} 

<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner bg-faded text-center rounded">
                    <h2 class="section-heading mb-5">
                        <span class="section-heading-upper">Recupero de Clave</span>                        
                    </h2>                    
                    <h2 class="section-heading mb-5">                        
                        <span class="section-heading-upper"> 
                            <form method="post">
                                {% csrf_token %}
                                {{ form.as_p }}                                
                                <button type="submit" class="btn btn-success"> 
                                    <i class="fa-regular fa-paper-plane"></i>
                                    Enviar Tu Correo de Recupero de Clave
                                </button>                                
                            </form>
                        </span>                                               
                    </h2>                    
                </div>
            </div>
        </div>
    </div>
</section>  
{% endblock%} 


