{% extends "app_seguro/base.html" %}
{% load static %}
{% block title %} CCyPP - Pagina no Encontrada {% endblock %} 
{% block subtitulo %}  {% endblock%} 
{% block content %} 
<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner bg-faded text-center rounded">
                    <h2 class="section-heading mb-5">
                        <span class="section-heading-upper">Página No Existe</span>                        
                    </h2>
                    <p>Lo sentimos, pero no existe la dirección de página solicitada</p>
                    <p></p>
                    <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'assets/img/pagina404.jpg' %}" alt="..." />
                </div>

                <div class="cta-inner bg-faded text-center rounded">
                    <a href="/" class="card-link"> <i class="fa-solid fa-house"></i>Inicio</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock%} 