{% extends "app_seguro/base.html" %}

{% load static %}
{% load crispy_forms_tags %}     

{% block title %} Capresca - Contraseña Editada{% endblock %} 
    
{% block subtitulo %}  {% endblock%} 

{% block content %} 

<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner bg-faded text-center rounded">
                    <h2 class="section-heading mb-5">
                        <span class="section-heading-upper">Cambio de Contraseña Actualizada</span>                        
                    </h2>
                    <h2 class="section-heading mb-5">
                        <span class="section-heading-upper">Su Contraseña fue Cambiada Correctamente</span>                        
                    </h2>
                             
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock%} 