{% extends "app_seguro/base.html" %}

{% load static %}
{% load crispy_forms_tags %}     

{% block title %} Capresca - Cambiar Contraseña {% endblock %} 
    
{% block subtitulo %}  {% endblock%} 

{% block content %} 

<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner bg-faded text-center rounded">
                    <h2 class="section-heading mb-5">
                        <span class="section-heading-upper">Cambio de Contraseña</span>                        
                    </h2>
                    <h2 class="section-heading mb-5">
                        <span class="section-heading-upper">Completa el Formulario para cambiar tu Contraseña</span>                        
                    </h2>   
                                     
                    <ul class="list-unstyled list-hours mb-5 text-left mx-auto">                 
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p}} 
                            <button type="submit" class="btn btn-outline-primary" value="Change">
                                <i class="fa-solid fa-rotate"></i>
                                Cambiar Contraseña                        
                            </button>

                        </form>
                    </ul>                   
                        <a href="{% url 'reset_password' %}" class="btn btn-warning">
                            <i class="fa-solid fa-book-medical"></i>
                            Olvidaste Tu Clave?
                        </a> 
                                
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock%} 