{% extends "app_seguro/base.html" %}

{% load static %}
{%  load crispy_forms_tags %}
{% block title %} Capresca - Reseteo de Clave {% endblock %} 
    
{% block subtitulo %}  {% endblock%} 

{% block content %} 

<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner bg-faded text-center rounded">
                    <h2 class="section-heading mb-5">
                        <span class="section-heading-upper">Recupero de Clave</span>                        
                    </h2>

                    <p> Olvidaste tu Contraseña?</p>
                    <p> Ingresa tu dirección de correo electrónico definida en el formulario de Declaración Jurada para obtener una nueva contraseña</p>

                    <h2 class="section-heading mb-5">                        
                        <span class="section-heading-upper"> 
                            <form method="POST">
                               {% csrf_token %}
                               <table>
                               {{ form | crispy }}                              
                            </table>
                               <button type="submit" class="btn btn-outline-primary" value="Send e-mail">Enviar</button>
                            </form>
                        </span>                                               
                    </h2>                    
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock%} 